/* @import url('./_fonts.css'); */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

:root {
  border-style: none;
}

.h-screen {
  height: 100vh;
  height: 100svh;
}
old